-- WARNING: This schema is for context only and is not meant to be run.
-- Table order and constraints may not be valid for execution.

CREATE TABLE public.profiles (
  id uuid NOT NULL,
  full_name character varying NOT NULL,
  role character varying DEFAULT 'staff'::character varying,
  is_active boolean DEFAULT true,
  created_at timestamp with time zone DEFAULT now(),
  email character varying,
  login_count integer DEFAULT 0,
  invoice_count integer DEFAULT 0,
  CONSTRAINT profiles_pkey PRIMARY KEY (id),
  CONSTRAINT profiles_id_fkey FOREIGN KEY (id) REFERENCES auth.users(id)
);
CREATE TABLE public.categories (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  name character varying NOT NULL UNIQUE,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT categories_pkey PRIMARY KEY (id)
);
CREATE TABLE public.classes (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  name character varying NOT NULL UNIQUE,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT classes_pkey PRIMARY KEY (id)
);
CREATE TABLE public.sizes (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  name character varying NOT NULL UNIQUE,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT sizes_pkey PRIMARY KEY (id)
);
CREATE TABLE public.models (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  system_code character varying NOT NULL UNIQUE,
  factory_code character varying NOT NULL,
  name character varying NOT NULL,
  category_id uuid,
  class_id uuid,
  price numeric NOT NULL CHECK (price >= 0::numeric),
  is_active boolean DEFAULT true,
  image_url_1 text,
  image_url_2 text,
  image_url_3 text,
  created_at timestamp with time zone DEFAULT now(),
  updated_at timestamp with time zone DEFAULT now(),
  CONSTRAINT models_pkey PRIMARY KEY (id),
  CONSTRAINT models_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id),
  CONSTRAINT models_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id)
);
CREATE TABLE public.model_sizes (
  model_id uuid NOT NULL,
  size_id uuid NOT NULL,
  CONSTRAINT model_sizes_pkey PRIMARY KEY (model_id, size_id),
  CONSTRAINT model_sizes_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.models(id),
  CONSTRAINT model_sizes_size_id_fkey FOREIGN KEY (size_id) REFERENCES public.sizes(id)
);
CREATE TABLE public.model_colors_inventory (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  model_id uuid,
  color_id uuid,
  available_series_count integer NOT NULL DEFAULT 0 CHECK (available_series_count >= 0),
  CONSTRAINT model_colors_inventory_pkey PRIMARY KEY (id),
  CONSTRAINT model_colors_inventory_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.models(id)
);
CREATE TABLE public.invoices (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  invoice_number integer NOT NULL DEFAULT nextval('invoices_invoice_number_seq'::regclass),
  staff_id uuid,
  customer_name character varying NOT NULL,
  customer_phone_1 character varying NOT NULL,
  customer_phone_2 character varying,
  customer_address text,
  deposit_amount numeric DEFAULT 0 CHECK (deposit_amount >= 0::numeric),
  deposit_receiver character varying,
  notes text,
  total_amount numeric DEFAULT 0,
  is_archived boolean DEFAULT false,
  created_at timestamp with time zone DEFAULT now(),
  updated_at timestamp with time zone DEFAULT now(),
  CONSTRAINT invoices_pkey PRIMARY KEY (id),
  CONSTRAINT invoices_staff_id_fkey FOREIGN KEY (staff_id) REFERENCES public.profiles(id)
);
CREATE TABLE public.invoice_items (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  invoice_id uuid,
  model_id uuid,
  color_id uuid,
  series_quantity integer NOT NULL CHECK (series_quantity > 0),
  unit_price numeric NOT NULL CHECK (unit_price >= 0::numeric),
  total_line_price numeric DEFAULT ((series_quantity)::numeric * unit_price),
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT invoice_items_pkey PRIMARY KEY (id),
  CONSTRAINT invoice_items_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoices(id),
  CONSTRAINT invoice_items_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.models(id)
);
CREATE TABLE public.model_inventory (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  model_id uuid,
  color_id uuid,
  available_series integer DEFAULT 0,
  CONSTRAINT model_inventory_pkey PRIMARY KEY (id),
  CONSTRAINT model_inventory_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.models(id),
  CONSTRAINT model_inventory_color_id_fkey FOREIGN KEY (color_id) REFERENCES public.colors(id)
);
CREATE TABLE public.model_images (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  model_id uuid,
  image_url text NOT NULL,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT model_images_pkey PRIMARY KEY (id),
  CONSTRAINT model_images_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.models(id)
);
CREATE TABLE public.stock_movements (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  model_id uuid,
  color_id uuid,
  movement_type text NOT NULL CHECK (movement_type = ANY (ARRAY['in'::text, 'out'::text])),
  quantity integer NOT NULL,
  reference text,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT stock_movements_pkey PRIMARY KEY (id),
  CONSTRAINT stock_movements_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.models(id),
  CONSTRAINT stock_movements_color_id_fkey FOREIGN KEY (color_id) REFERENCES public.colors(id)
);
CREATE TABLE public.system_users (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  full_name text NOT NULL,
  username text NOT NULL UNIQUE,
  password text NOT NULL,
  role text NOT NULL CHECK (role = ANY (ARRAY['owner'::text, 'admin'::text, 'worker'::text])),
  is_active boolean DEFAULT true,
  created_at timestamp with time zone DEFAULT now(),
  login_count integer DEFAULT 0,
  invoice_count integer DEFAULT 0,
  CONSTRAINT system_users_pkey PRIMARY KEY (id)
);
CREATE TABLE public.home_settings (
  setting_key text NOT NULL,
  setting_value text NOT NULL,
  description text,
  CONSTRAINT home_settings_pkey PRIMARY KEY (setting_key)
);
CREATE TABLE public.promo_cards (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  title text NOT NULL,
  description text,
  icon text DEFAULT 'ph-star'::text,
  badge_text text,
  badge_color text DEFAULT 'bg-devo-orange'::text,
  is_active boolean DEFAULT true,
  created_at timestamp with time zone DEFAULT now(),
  image_url text,
  CONSTRAINT promo_cards_pkey PRIMARY KEY (id)
);
CREATE TABLE public.orders (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  invoice_number text NOT NULL UNIQUE,
  customer_name text NOT NULL,
  phone_1 text NOT NULL,
  phone_2 text,
  address text,
  deposit numeric DEFAULT 0,
  deposit_receiver text,
  notes text,
  total_price numeric NOT NULL,
  total_series integer NOT NULL,
  worker_id uuid,
  created_at timestamp with time zone DEFAULT now(),
  status text DEFAULT 'created'::text,
  is_archived boolean DEFAULT false,
  is_locked boolean DEFAULT false,
  assigned_admin_name text,
  CONSTRAINT orders_pkey PRIMARY KEY (id),
  CONSTRAINT orders_worker_id_fkey FOREIGN KEY (worker_id) REFERENCES public.system_users(id)
);
CREATE TABLE public.order_items (
  id uuid NOT NULL DEFAULT gen_random_uuid(),
  order_id uuid,
  model_id uuid,
  color_id uuid,
  quantity integer NOT NULL,
  price_per_series numeric NOT NULL,
  total_price numeric NOT NULL,
  CONSTRAINT order_items_pkey PRIMARY KEY (id),
  CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id),
  CONSTRAINT order_items_model_id_fkey FOREIGN KEY (model_id) REFERENCES public.models(id),
  CONSTRAINT order_items_color_id_fkey FOREIGN KEY (color_id) REFERENCES public.colors(id)
);
CREATE TABLE public.colors (
  id uuid NOT NULL DEFAULT uuid_generate_v4(),
  color_code character varying UNIQUE,
  name character varying NOT NULL UNIQUE,
  created_at timestamp with time zone DEFAULT now(),
  CONSTRAINT colors_pkey PRIMARY KEY (id)
);
CREATE TABLE public.class_sizes (
  class_id uuid NOT NULL,
  size_id uuid NOT NULL,
  CONSTRAINT class_sizes_pkey PRIMARY KEY (class_id, size_id),
  CONSTRAINT class_sizes_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id),
  CONSTRAINT class_sizes_size_id_fkey FOREIGN KEY (size_id) REFERENCES public.sizes(id)
);